.s1{
    background-color: #200153;

}
h1 {
    color:#BBFF2C ;
    font-size: 50px;
}

p {
    color: #000000;
    font-size: 16px;
}
header{
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
    padding-bottom: 15px;
}
body{
    width: 100%;
}
.header_wrapper{
    display: flex;
}
.header_logo {
    font-family: 'Tac One';
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    top: 28px;
    left: 58px;
    font-size: 72px;
}
.header_menu{
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    margin-top: 24px;
    margin-left: 472px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.header_link{
    font-family: 'Balsamiq Sans';
    top: 20px;
    left: 400px;
    padding: 5px 10px ;
    border-radius: 12px  ;
    margin-left: 10px;
}

.header_menu a{
    text-decoration: none;
}
#intro{
    width: Fixed (112px);
    height: Fixed (40px);
    top: 20px;
    left: 400px;
    padding: 10px;   
    gap: 10px;
    border-radius: 12px  ; 
    border: 2px;   
}
.block{
    width: 874px;
    height: 223px;
    background-color: aliceblue;
    z-index: 10;
    border-radius: 1px;
}